# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# prisma
/prisma/*.db

# médias uploadés en local (dev)
/.uploads

# editor
.vscode/*
!.vscode/extensions.json
.idea

# typescript
*.tsbuildinfo
